.card {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 12px;
  border-radius: 12px;
  transition: all 0.4s;
  border: 1px solid rgba(101, 101, 101, 0.791);
  height: 100%;
  background-color: var(--card-background);
    background-image:
radial-gradient(at 7% 100%, hsla(194,85%,36%,0.13) 0px, transparent 50%),
radial-gradient(at 99% 25%, hsla(194,85%,36%,0.37) 0px, transparent 50%);

}

.card-img {
  height: auto;
  max-width: 100%;
  border-radius: 8px;
}

.card.linked:hover {
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-icons {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card-icon {
  width: 35px;
  height: 35px;
}

/* @keyframes opacity-in {
  from {
      opacity: 0;
      filter: blur(5px);
  }

  to {
      opacity: 1;
      filter: blur(0);
  }
}

.card {
  animation: auto linear opacity-in both;
  animation-timeline: view();
  animation-range: entry 35% cover 40%;
} */
