.card {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 12px;
  border-radius: 12px;
  transition: all 0.4s;
  border: 1px solid rgba(101, 101, 101, 0.791);
  height: 100%;
}

.card-img {
  height: auto;
  max-width: 100%;
  border-radius: 8px;
}

.card.linked:hover {
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-icons {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card-icon {
  width: 35px;
  height: 35px;
}