

.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    padding: 8px;
    width: 100%;
    z-index: 1;
    background: transparent;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(128, 128, 128, 0.644);
    box-shadow: 0px 15px 10px -15px var(--nav-shadow);
    transition: background-color,border,box-shadow 0.4s ease-in-out;
}

.nav-container.solid{
    backdrop-filter: none;
    border: transparent;
    box-shadow: none;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 750px;
    padding: 8px;
}

.home-icon{
    width: 40px;
    height: auto;
}

.theme-toggle{
    cursor: pointer;
}

.location-info{
    font-size: 0.9em;
}