<section class="landing">
    <article class="container personal-info">
        <img id="avatar-img" (mouseover)="hoverAvatarIMG()" (mouseleave)="unhoverAvatarIMG()" class="avatar-img" src="/assets/imgs/pp-izm.jpg" alt="profile-pic"
            loading="lazy">
        <div class="personal-data">
            <h2 class="name">Isahir Zavala Miranda</h2>
            <h3 class="role">Backend Developer</h3>
            <!-- <div class="current-stack">
                <div class="badge">
                    <p class="badge-title">Angular</p>
                    <img class="badge-icon" src="assets/imgs/icons/angular17.png" alt="">
                </div>
                <div class="badge">
                    <p class="badge-title">.NET</p>
                    <img class="badge-icon" src="assets/imgs/icons/dotneticon.png" alt="">
                </div>
            </div> -->
            <p class="brief">2 years of experience so far, but eager to continue expanding my knowledge.</p>
            <div class="social">
                <a href="https://drive.google.com/uc?export=download&id=11mHTmeMfARrNPqU6X-mOvi5GdonzcSIs" download><svg xmlns="http://www.w3.org/2000/svg"
                        class="social-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
                        <path d="M11 12.5a1.5 1.5 0 0 0 -3 0v3a1.5 1.5 0 0 0 3 0" />
                        <path d="M13 11l1.5 6l1.5 -6" />
                    </svg></a>
                <a target="_blank" href="https://www.linkedin.com/in/isahir-zavala-miranda-70479a266"><svg
                        xmlns="http://www.w3.org/2000/svg" class="social-icon" width="24" height="24"
                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                        <path d="M8 11l0 5" />
                        <path d="M8 8l0 .01" />
                        <path d="M12 16l0 -5" />
                        <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                    </svg></a>
                <a target="_blank" href="https://github.com/isahir0711"><svg xmlns="http://www.w3.org/2000/svg"
                        class="social-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" />
                    </svg></a>

                <a href="mailto:isahirzavala@hotmail.com?subject=Job%20Opportunity&body=Hello%20there,%0A%0AI%20saw%20your%20portfolio%20and%20am%20interested%20in%20discussing%20potential%20opportunities.%20Let's%20connect!%0A%0ARegards,%0A[Your%20Name]">
                    <svg xmlns="http://www.w3.org/2000/svg" class="social-icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14l11 -11" /><path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5" /></svg>
                </a>
            </div>
        </div>
    </article>

    <article class="about container">
        <h2>About me</h2>
        <p>I'm a seasoned backend developer with three years of experience, specializing in web and mobile app
            development. My focus is on implementing industry best practices, using languages like C# and TypeScript,
            frameworks such as .NET and Angular, and deploying on Microsoft Azure.</p>
    </article>

    <article class="experience container">
        <h2>Professional Experience</h2>
        <div class="cards">
            @for (cardInfo of experience; track $index) {
                <app-card [CardInfo]="cardInfo"></app-card>
            }
        </div>
    </article>

    <article class="experience container">
        <h2>Projects</h2>
        <div class="cards">
            @for (cardInfo of projects; track $index) {
                <app-card [CardInfo]="cardInfo"></app-card>
            }
        </div>
    </article>

    <article class="tech container">
        <h2>Technologies</h2>
        <div class="frame stack">
            <h3>Frameworks</h3>
            <div class="tech-stack">
                <div class="tech-detail" style="--delay:1s">
                    <img class="tech-icon" loading="lazy" src="/assets/imgs/icons/net-icon.svg" alt="">
                    <p>.NET</p>
                </div>
                <div class="tech-detail" style="--delay:4s">
                    <img class="tech-icon" loading="lazy" src="/assets/imgs/icons/angular-icon.svg" alt="">
                    <p>Angular</p>
                </div>
            </div>
        </div>
        <div class="languages stack">
            <h3>Languages</h3>
            <div class="tech-stack">

                <div class="tech-detail" style="--delay:1s">
                    <img class="tech-icon" loading="lazy" src="/assets/imgs/icons/c4-icon.svg" alt="">
                    <p>C#</p>
                </div>
                <div class="tech-detail" style="--delay:4s">
                    <img class="tech-icon" loading="lazy" src="/assets/imgs/icons/ts-icon.svg" alt="">
                    <p>TypeScript</p>
                </div>
                <div class="tech-detail" style="--delay:7s">
                    <img class="tech-icon" loading="lazy" src="/assets/imgs/icons/python-icon.svg" alt="">
                    <p>Python</p>
                </div>
                <div class="tech-detail" style="--delay:10s">
                    <img class="tech-icon" loading="lazy" src="/assets/imgs/icons/html-icon.svg" alt="">
                    <p>HTML</p>
                </div>
                <div class="tech-detail" style="--delay:13s">
                    <img class="tech-icon" loading="lazy" src="/assets/imgs/icons/css-icon.svg" alt="">
                    <p>CSS</p>
                </div>
                <div class="tech-detail" style="--delay:16s">
                    <img class="tech-icon" loading="lazy" src="/assets/imgs/icons/js-icon.svg" alt="">
                    <p>JavaScript</p>
                </div>

            </div>
        </div>

        <div class="utilities stack">
            <h3>Extras</h3>
            <div class="tech-stack">
                <div class="tech-detail" style="--delay:1s">
                    <img loading="lazy" class="tech-icon" src="/assets/imgs/icons/msql-icon.svg" alt="">
                    <p>MSQL</p>
                </div>
                <div class="tech-detail" style="--delay:4s">
                    <img class="tech-icon" loading="lazy" src="/assets/imgs/icons/psql.png" alt="">
                    <p>PSQL</p>
                </div>
                <div class="tech-detail" style="--delay:3s">
                    <img class="tech-icon" loading="lazy" src="/assets/imgs/icons/azure-icon.svg" alt="">
                    <p>Azure</p>
                </div>
                <div class="tech-detail" style="--delay:7s">
                    <img class="tech-icon" loading="lazy" src="/assets/imgs/icons/git-icon.svg" alt="">
                    <p>Git</p>
                </div>
                <div class="tech-detail" style="--delay:10s">
                    <img class="tech-icon" loading="lazy" src="/assets/imgs/icons/github-icon.svg" alt="">
                    <p>Github</p>
                </div>

            </div>
        </div>
    </article>

</section>