.landing {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
}

.role {
    margin-top: 12px;
    color: #0d86ac;
}

.personal-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 32px;
    width: 100%;
}

.landing-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-gif {
    width: 95%;
    height: 20%;
    margin-bottom: 10%;
    border-radius: 20px;
    background-image: var(--gifURL);
    background-size: cover;
    background-position: 50% 50%;
    transition: all 0.4s ease-in;
}


.about {
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.social-icon {
    width: 30px;
    height: 30px;
    transition: all 0.3s;
    stroke: #7fbdfa;
    /*stroke: var(--text-color);*/
}

.social-icon:hover {
    transform: scale(1.2);
    stroke: #42c9f1;
}

.avatar-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: all 0.4s;
    /*border:1px solid #89e3ff;*/
}


.container {
    padding: 16px;
}

.personal-data {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.social {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.brief {
    max-width: 50ch;
    opacity: 0.8;
}

.experience {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.cards {
    margin-top: 16px;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
}

.tech {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 32px;
}

.stack {
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.tech-icon {
    height: 65px;
    width: auto;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}


.tech-detail {
    text-align: center;
}


.badge-icon {
    height: 2em;
    width: auto;
}

.badge {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 12px;
    border-radius: 20px;
    border: 1px solid #10718f;
}

.current-stack {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}


@media only screen and (max-width: 600px) {
    .personal-info {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .landing-wrapper {
        margin-top: 40px;

    }

    .personal-data {
        align-items: center;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}