@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --text-color: #000000;
    --background: #f8f8f8;
    --navbar-background: #fff;
    --card-background: #fff;
    --grad1back: radial-gradient(at 84% 37%, hsla(346, 79%, 85%, 0.671) 0px, transparent 50%);
    --grad2back:radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 0) 0px, transparent 50%);
    --nav-shadow:transparent;
}

.theme-dark {
    --navbar-background: #202020;
    --background: #1c2333;
    --text-color: #fff;
    --card-background: transparent;
    --grad1back: radial-gradient(at 13% 58%, hsla(204,92%,51%,0.31) 0px, transparent 50%);
    --grad2back:radial-gradient(at 0% 0%, hsla(343,100%,76%,0) 0px, transparent 50%);
    --nav-shadow:#11111193;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

html {
    font-family: 'Raleway', sans-serif;
    background-color: var(--background);
    color: var(--text-color);
    transition: background-color 0.4s ease-in-out;
    background-repeat: no-repeat;
    background-image:
        var(--grad1back),var(--grad2back);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

/*animations and transitions*/

.hidden-content{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(+10%);
    transition: opacity,filter,transform .8s;
    transition-delay: 0ms;
    transition-delay: calc(100ms * var(--delay));
}

.show-animate{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@keyframes fade-in-top {
    from{
        opacity: 0;
        filter: blur(10px);
        transform: translateY(-20%);
    }
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}